
.logo{
    width: fit-content;
    border-radius: 50%;
}
.navbar ul{
    display: flex;
    margin: 5px 10px;
}
.container{
    display: flex;
}
li{
    padding: 40px;
    list-style: none;
    
}
 a{
    text-decoration: none;
    
}
.rishav{
    margin: 2% 45%;
}
